/**
Animation
*/
@-webkit-keyframes rotateCollapse {
    from {transform: rotate(90deg);}
    to {transform: rotate(0deg);}
}

@keyframes rotateCollapse {
    from {transform: rotate(90deg);}
    to {transform: rotate(0deg);}
}

@-webkit-keyframes rotateExpand {
    from {transform: rotate(0deg);}
    to {transform: rotate(90deg);}
}

@keyframes rotateExpand {    
    from {transform: rotate(0deg);}
    to {transform: rotate(90deg);}
}

ul {
    list-style-type: none;
    padding: 0;
}

.collapsible{
    border: 1px solid aquamarine;
    font-family: 'Lato', sans-serif;
    font-size:14px;
}

.list_header {
    border: 1px solid #446644;
}

.list_item {
    border: 1px dotted bisque;
    padding: 10px 10px 10px 50px;
    text-align: left;
}

.list_item_title {
    font-size: 18px;
    padding: 8px 10px 8px 5px;
    background: #ccdddd;
    vertical-align: middle;
    line-height: 45px;
    display: inline-block;
}

.list_item_data {
    margin-top: 20px;
}

.collapsed_items {
    display: none;
}

.expanded_items {
    display: inline;
}

img.arrow_collapsed {
    display: inline-block;
    vertical-align: middle;
    clear: left;
    /*animation: rotateExpand 5s;*/
}

img.arrow_expanded {
    display: inline-block;
    vertical-align: middle;
    clear: left;
    transform: rotate(90deg);
    /*animation: rotateExpand 5s;*/
}

.collapsed {
    display: none;
}

.list_item_data_child {
    padding-top: 10px;
    background: #ddeedd;
}

.list_toggle_icon {
    padding: 0px 7px 0px 7px;
}